<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Space Search</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <!-- <link rel="stylesheet" type="text/css" href="css/normalize.css" /> -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="script.js"></script>
  </head>

  <body>
    <header class="container-fluid">
      <center><h1>Welcome to space search!</h1></center>
    </header>
    <section class="searchSection container-fluid">
      <form class="form-inline">
        <div class="form-group">
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control form-control-sm"
              id="searchQuery"
              placeholder="Earth Apollo 11"
            />
          </div>
        </div>
        <button type="button" id="searchButton" class="btn btn-primary btn-sm">
          Search NASA repository
        </button>

        <button
          type="button"
          id="searchDBButton"
          class="btn btn-success btn-sm ml-3"
        >
          Get images in DB
        </button>
      </form>

      <br />
      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4"
        id="imageThumbnail"
      ></div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="showMoreModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="showMoreModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="showMoreModalLabel">Modal title</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="text_area"></div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer><center>Copyright Shivangi Das 2020</center></footer>
  </body>
</html>
